@mixin light-theme {
  --primary-color: #156064;
  --primary-dark: #156064;
  --primary-translucent-color: #afc5c6;
  --primary-transparent-color: #15606440;
  --secondary-color: #eeeeee;
  --bg-color: #eeeeee;
  --bg-light: #15606433;
  --bg-transparent: transparent;
  --wave-color: #b8cfd0;
}

@mixin dark-theme {
  --primary-color: #156064;
  --primary-dark: #0d3a3c;
  --primary-translucent-color: #0d3a3c;
  --primary-transparent-color: #15606440;
  --secondary-color: #f5f5f5;
  --bg-color: #121212;
  --bg-light: #15606433;
  --bg-transparent: transparent;
  --wave-color: #0d3a3c;
}

// Default theme - light theme
:root {
  @include light-theme;
}

// Dark theme
.color-scheme-dark {
  @include dark-theme;
}

// Auto theme based on system preference
@media (prefers-color-scheme: dark) {
  .auto {
    @include dark-theme;
  }
}
