/* You can add global styles to this file, and also import other style files */
@import "assets/styles/variables.scss";
@import "assets/styles/components.scss";

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat.ttf') format('truetype');
    /* Add other font properties like font-weight and font-style if needed */
}

body {
    font-family: $font-family;
}